/*----------------------------------
---------------Variables------------
------------------------------------*/
/**
 * Mixins
 * --------------------------------------------------
 */
/*----------------------------------
----------------General--------------
------------------------------------*/
h1 {
  color: #2B2D70;
  font-size: 26px; }

p {
  font-size: 13px; }

.demo {
  max-width: 170px; }

.header, .main-container, .suscribe-section, .footer {
  padding: 6vw 5vw; }

.main-container .square {
  width: 100%;
  padding: 1.5vw; }
  .main-container .square h2 {
    font-size: 13px;
    font-weight: 600; }
.main-container .number-container {
  display: flex;
  align-items: center;
  justify-content: center; }
  .main-container .number-container.blue {
    background: #00a3b7;
    background: -moz-radial-gradient(center, ellipse cover, #00a3b7 0%, #0087c1 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #00a3b7), color-stop(100%, #0087c1));
    background: -webkit-radial-gradient(center, ellipse cover, #00a3b7 0%, #0087c1 100%);
    background: -o-radial-gradient(center, ellipse cover, #00a3b7 0%, #0087c1 100%);
    background: -ms-radial-gradient(center, ellipse cover, #00a3b7 0%, #0087c1 100%);
    background: radial-gradient(ellipse at center, #00a3b7 0%, #0087c1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a3b7', endColorstr='#0087c1', GradientType=1 ); }
  .main-container .number-container.red {
    background: #e84360;
    background: -moz-radial-gradient(center, ellipse cover, #e84360 0%, #b8477c 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #e84360), color-stop(100%, #b8477c));
    background: -webkit-radial-gradient(center, ellipse cover, #e84360 0%, #b8477c 100%);
    background: -o-radial-gradient(center, ellipse cover, #e84360 0%, #b8477c 100%);
    background: -ms-radial-gradient(center, ellipse cover, #e84360 0%, #b8477c 100%);
    background: radial-gradient(ellipse at center, #e84360 0%, #b8477c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E84360', endColorstr='#B8477C', GradientType=1 ); }
  .main-container .number-container.yellow {
    background: #fab751;
    background: -moz-radial-gradient(center, ellipse cover, #fab751 0%, #f9a638 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fab751), color-stop(100%, #f9a638));
    background: -webkit-radial-gradient(center, ellipse cover, #fab751 0%, #f9a638 100%);
    background: -o-radial-gradient(center, ellipse cover, #fab751 0%, #f9a638 100%);
    background: -ms-radial-gradient(center, ellipse cover, #fab751 0%, #f9a638 100%);
    background: radial-gradient(ellipse at center, #fab751 0%, #f9a638 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FAB751', endColorstr='#F9A638', GradientType=1 ); }
  .main-container .number-container.green {
    background: #79c45c;
    background: -moz-radial-gradient(center, ellipse cover, #79c45c 0%, #5ab236 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #79c45c), color-stop(100%, #5ab236));
    background: -webkit-radial-gradient(center, ellipse cover, #79c45c 0%, #5ab236 100%);
    background: -o-radial-gradient(center, ellipse cover, #79c45c 0%, #5ab236 100%);
    background: -ms-radial-gradient(center, ellipse cover, #79c45c 0%, #5ab236 100%);
    background: radial-gradient(ellipse at center, #79c45c 0%, #5ab236 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79C45C', endColorstr='#5AB236', GradientType=1 ); }
  .main-container .number-container .number {
    color: white;
    font-size: 120px; }
.main-container .text-container {
  background: #F0F5F7; }

.suscribe-section {
  background: #ECEFF1; }
  .suscribe-section .left-section {
    display: flex;
    align-items: center;
    justify-content: center; }
  .suscribe-section p {
    margin: 5vw 0; }
  .suscribe-section .form-group {
    display: flex; }
    .suscribe-section .form-group input {
      margin-right: 30px;
      -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.35);
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.35); }
    .suscribe-section .form-group button {
      color: white;
      font-weight: 600;
      padding: 6px 30px;
      border-radius: 20px;
      background: #ee7d67;
      background: -moz-linear-gradient(left, #ee7d67 0%, #d45183 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, #ee7d67), color-stop(100%, #d45183));
      background: -webkit-linear-gradient(left, #ee7d67 0%, #d45183 100%);
      background: -o-linear-gradient(left, #ee7d67 0%, #d45183 100%);
      background: -ms-linear-gradient(left, #ee7d67 0%, #d45183 100%);
      background: linear-gradient(to right, #ee7d67 0%, #d45183 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee7d67', endColorstr='#d45183', GradientType=1 ); }

/*----------------------------------
----------------Header--------------
------------------------------------*/
.header {
  background: #F4F6F7; }
  .header .cpe-logo {
    max-width: 200px; }
  .header h1 span {
    font-size: 20px;
    display: block; }
  .header .right-section {
    background: url("../img/img_bgheader.png") no-repeat center/contain;
    display: flex;
    align-items: center;
    justify-content: center; }

/*----------------------------------
----------------Footer--------------
------------------------------------*/
.footer .logo-container {
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer .logo-container .logo {
    max-width: 200px; }
  .footer .logo-container .vertical-separator {
    border-left: 1px solid gray;
    height: 90px;
    margin: 0 20px; }

/*----------------------------------
--------------Media Query-----------
------------------------------------*/
@media screen and (max-width: 1199px) {
  .main-container .squares-container {
    position: relative; }
  .main-container .text-container {
    position: absolute;
    top: 0;
    background: none;
    color: white;
    display: flex;
    align-items: center; }
  .main-container .number {
    display: none; } }
@media screen and (min-width: 992px) {
  .header {
    display: flex;
    align-items: stretch; }
    .header .right-section {
      height: 300px; }

  .suscribe-section {
    display: flex;
    align-items: stretch; } }
@media screen and (min-width: 768px) {
  .main-container .column {
    padding: 0;
    display: inline-flex; }
  .main-container .squares-container {
    width: 50%; } }
@media screen and (max-width: 767px) {
  .main-container .squares-container {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
