/*----------------------------------
----------------Footer--------------
------------------------------------*/

.footer {
    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
            max-width: 140px;
        }
        .vertical-separator {
            border-left: 1px solid gray;
            height: 90px;
            margin: 0 20px;
        }
    }
}
