/*----------------------------------
----------------General--------------
------------------------------------*/

h1 {
    color: $header-title;
    font-size: 26px;
}

p {
    font-size: 13px;
}

.demo {
    max-width: 170px;
}

.header, .main-container, .suscribe-section, .footer {
    padding: 6vw 5vw;
}

.main-container {
    .square {
        width: 100%;

        h2 {
            font-size: 13px;
            font-weight: 600;
            margin-top: 0;
        }
    }

    .number-container {
        display: flex;
        align-items: center;
        justify-content: center;

        &.blue {
            @include background-gradient-properties(#00a3b7, #0087c1);
        }
        &.red {
            @include background-gradient-properties(#E84360, #B8477C);
        }
        &.yellow {
            @include background-gradient-properties(#FAB751, #F9A638);
        }
        &.green {
            @include background-gradient-properties(#79C45C, #5AB236);
        }
        .number {
            color: white;
            font-size: 120px;
        }
    }

    .text-container {
        background: $white-square-bg;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 15px;

        p {
          margin: 0;
        }
    }
}
.suscribe-section {
    background: $suscribe-section-bg;

    .left-section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    p {
        margin: 5vw 0;
    }

    .form-group {
        input {
            margin-right: 30px;
            @include box-shadow-properties(0px 0px 30px 0px rgba(0,0,0,0.35));
        }
        button {
            color: white;
            font-weight: 600;
            padding: 6px 30px;
            border-radius: 20px;
            @include background-gradient-horizontal-properties(#ee7d67, #d45183);
        }
    }
}
