/*----------------------------------
---------------Variables------------
------------------------------------*/

$site-name:                        site-bienestar-laboral;
$site-slider:                      bienestar_laboral_home_slider;
$path-site:                        edu-buscandocarrera;
$images-path:                      "../img/";

 // Colors
 // -------------------------------
$main-bg:                               #eee !default;
$header-bg:                             #F4F6F7 !default;
$header-title:                          #2B2D70 !default;
$white-square-bg:                       #F0F5F7 !default;
//Measures
// -------------------------------
$main-header-height:              132px;
