/*----------------------------------
--------------Media Query-----------
------------------------------------*/
@media screen and (min-width: 992px) {
  .home-header {
    .gitei-logo {
      position: absolute;
      left: 10%;
      top: 1vw;
      z-index: 1;
    }
    .btn-menu {
      position: absolute;
      right: 10%;
      top: 2.5vw;
      z-index: 1;
    }
  }
  .header-links {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 315px;
  }
  .modal-content {
     .modal-body {
        .menu a {
           margin: 15px 10px;
        }
        .links-container {
           display: flex;
        }
     }
  }
  .horizontal-item {
      display: flex;
      align-items: center;
  }
  .videos-section > div:last-child {
      height: 31.5vw;
      overflow: auto;
  }
  .footer {
      .left-section {
          display: flex;
      }
      .links-container {
          a {
              text-align: left;
          }
      }
  }
}
@media screen and (max-width: 991px) {
  .home-header {
    .gitei-logo {
      margin: 2vh 0 2vh 10%;
      float: left;
    }
    .btn-menu {
      float: right;
      margin: 3vh 10% 0;
    }
  }
  .modal-content {
     .modal-body {
        .menu a {
           margin-bottom: 15px;
        }
     }
  }
  .footer {
      .logo-container {
          display: flex;

          a {
             width: 50%;
          }
      }
      img {
          min-width: 130px;
          margin: 0 auto 15px;
      }
      .right-section {
          .title {
              padding-top: 30px;
          }
      }
  }
}
