/*----------------------------------
---------------Variables------------
------------------------------------*/
/**
 * Mixins
 * --------------------------------------------------
 */
/*----------------------------------
----------------Slider--------------
------------------------------------*/
.cd-slider {
  position: relative;
  width: 100%;
  height: 320px;
  overflow: hidden;
  /* Current Slide
  -------------------------------------*/
  /* Prev Slide
  ------------------------------------*/ }
  .cd-slider li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    -webkit-transition: visibility 0s 1s;
    transition: visibility 0s 1s;
    will-change: visibility; }
  .cd-slider .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    clip: rect(0, 80rem, 50rem, 80rem);
    -webkit-transition: clip 0.5s cubic-bezier(0.99, 0.01, 0.45, 0.9) 0.5s;
    transition: clip 0.5s cubic-bezier(0.99, 0.01, 0.45, 0.9) 0.5s;
    will-change: clip; }
  .cd-slider .content {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 2rem 0 0 2rem;
    font-size: 9rem;
    text-align: right; }
    .cd-slider .content h2 {
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-transform: translateY(-30%);
      transform: translateY(-30%);
      opacity: 0;
      -webkit-transition: opacity .5s, -webkit-transform .5s;
      transition: opacity .5s, -webkit-transform .5s;
      transition: transform .5s, opacity .5s;
      transition: transform .5s, opacity .5s, -webkit-transform .5s;
      will-change: transform, opacity; }
    .cd-slider .content a {
      display: inline-block;
      font-size: 2rem;
      text-transform: lowercase;
      padding: 1.5rem;
      opacity: 0;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
      transition: opacity .5s .1s, -webkit-transform .5s .1s;
      transition: transform .5s .1s, opacity .5s .1s;
      transition: transform .5s .1s, opacity .5s .1s, -webkit-transform .5s .1s;
      will-change: transform, opacity; }
  .cd-slider li.current {
    visibility: visible;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
    .cd-slider li.current .image {
      clip: rect(0, 80rem, 50rem, 0); }
    .cd-slider li.current .content h2 {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
      -webkit-transition-delay: 1s;
      transition-delay: 1s; }
    .cd-slider li.current .content a {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
      -webkit-transition-delay: 1.1s;
      transition-delay: 1.1s; }
  .cd-slider li.prev_slide .image {
    clip: rect(0, 0, 50rem, 0); }
  .cd-slider nav {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: 2; }
  .cd-slider .prev, .cd-slider .next, .cd-slider .counter {
    vertical-align: middle; }
  .cd-slider .prev, .cd-slider .next {
    position: relative;
    display: inline-block;
    height: 5rem;
    width: 5rem;
    border: 0;
    cursor: pointer;
    background: transparent; }
    .cd-slider .prev::before, .cd-slider .next::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      border: .8rem solid transparent;
      border-right-width: 1rem;
      border-right-color: #000;
      border-left-width: 0;
      width: 0;
      height: 0; }
    .cd-slider .prev::after, .cd-slider .next::after {
      content: '';
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%) translateZ(0);
      transform: translateY(-50%) translateZ(0);
      left: .5rem;
      background: #000;
      height: .1rem;
      min-height: 1px;
      width: 2.5rem;
      -webkit-transition: width .3s;
      transition: width .3s; }
    .cd-slider .prev:hover::after, .cd-slider .next:hover::after {
      width: 3.5rem; }
  .cd-slider .next::before {
    right: 0;
    left: auto;
    border-left-width: 1rem;
    border-left-color: #000;
    border-right-width: 0; }
  .cd-slider .next::after {
    right: .5rem;
    left: auto; }
  .cd-slider .counter {
    display: inline-block;
    font-size: 4rem;
    font-family: serif;
    font-style: italic; }
  .cd-slider .counter span:last-child::before {
    content: '/';
    margin: 0 1rem; }
  @media screen and (max-width: 550px) {
    .cd-slider .image {
      width: 100%; }
    .cd-slider .content {
      padding-right: 2rem; }
    .cd-slider nav {
      left: 0;
      right: auto; } }

/*----------------------------------
----------------General--------------
------------------------------------*/
* {
  box-sizing: border-box; }

html {
  font-size: calc(4px + 0.45vw); }

body {
  font-family: 'Montserrat', sans-serif;
  color: #000; }

a {
  text-decoration: none;
  color: #000; }

*:focus {
  outline: 0; }

.modal-backdrop.in {
  opacity: 0.7; }

.gitei-logo {
  content: url("../img/logo_GITEI.png"); }

.unal-logo {
  content: url("../img/logo_unal.png"); }

.container {
  width: 80%;
  background: #eee; }

.title-section {
  background: #666;
  font-size: 25px;
  color: white;
  padding: 10px;
  margin: 0; }

/*----------------------------------
----------------Header--------------
------------------------------------*/
.home-header .gitei-logo {
  max-width: 14vw;
  min-width: 180px; }
.home-header .logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  margin: 10px 0; }
.home-header .header-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0px; }
  .home-header .header-links .links-container {
    display: flex;
    justify-content: center;
    border-top: 2px solid gray; }
  .home-header .header-links .vertical-separator {
    border-left: 1px solid gray; }
.home-header .social-bar {
  text-align: center;
  padding: 12px 0;
  background: #666;
  display: flex;
  justify-content: center;
  align-items: center; }
  .home-header .social-bar .fa {
    position: relative;
    padding: 6px 0;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    color: #666;
    height: 30px;
    border-radius: 5px;
    background: white;
    margin: 0 10px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .home-header .social-bar .fa::before {
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto; }
    .home-header .social-bar .fa::after {
      content: "";
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 0;
      top: 0;
      left: 0;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .home-header .social-bar .fa:hover::after {
      height: 100%; }
    .home-header .social-bar .fa:hover {
      color: white; }
  .home-header .social-bar .fa-facebook::after {
    background: #3B5998; }
  .home-header .social-bar .fa-twitter::after {
    background: #55ACEE; }
  .home-header .social-bar .fa-linkedin::after {
    background: #007bb5; }
.home-header .modal-content {
  background-color: rgba(0, 0, 0, 0.85); }
  .home-header .modal-content .close {
    color: white;
    font-size: 40px; }
  .home-header .modal-content .modal-body a, .home-header .modal-content .modal-body p {
    color: white; }
  .home-header .modal-content .modal-body .menu {
    margin: 20px 0;
    border-bottom: 1px solid white; }
    .home-header .modal-content .modal-body .menu a {
      display: block; }
  .home-header .modal-content .modal-body .links-container {
    margin-top: 50px; }
    .home-header .modal-content .modal-body .links-container .vertical-separator {
      border-left: 1px solid white; }

/*----------------------------------
--------------Home-Items------------
------------------------------------*/
.horizontal-item, .vertical-item {
  background: white;
  margin: 15px 0; }
  .horizontal-item .item-image, .vertical-item .item-image {
    padding-bottom: 45%;
    background: lightgray; }
  .horizontal-item .item-text, .vertical-item .item-text {
    padding: 20px; }
    .horizontal-item .item-text label, .horizontal-item .item-text a, .vertical-item .item-text label, .vertical-item .item-text a {
      display: block;
      line-height: 100%;
      margin-bottom: 5px;
      font-weight: 700; }
    .horizontal-item .item-text .title, .vertical-item .item-text .title {
      font-size: 30px; }
    .horizontal-item .item-text .subtitle, .vertical-item .item-text .subtitle {
      font-size: 20px;
      color: gray;
      margin-bottom: 20px; }

/*----------------------------------
-----------Education-Trends---------
------------------------------------*/
.education-trends {
  margin-top: 15px; }
  .education-trends h1 {
    text-align: center; }
  .education-trends .trend-body {
    background: white; }
    .education-trends .trend-body:not(:last-child) a {
      border-bottom: 1px solid lightgray; }
    .education-trends .trend-body a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 10px 0; }
      .education-trends .trend-body a:hover {
        text-decoration: none; }
      .education-trends .trend-body a label {
        display: block;
        line-height: 100%; }
      .education-trends .trend-body a .badge {
        min-height: 40px;
        min-width: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 19px;
        margin-right: 15px;
        border: 2px solid black; }
      .education-trends .trend-body a .title {
        font-size: 20px;
        margin-bottom: 10px; }
      .education-trends .trend-body a .subtitle {
        font-size: 15px;
        color: gray;
        margin-bottom: 0; }

/*----------------------------------
------------Videos-Section----------
------------------------------------*/
.videos-section {
  border: 1px solid #666;
  margin: 15px 0; }
  .videos-section h1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .videos-section h1 a {
      font-size: 12px;
      color: white; }
  .videos-section > div {
    padding: 30px; }
    .videos-section > div:last-child .embed-responsive-16by9 {
      margin-bottom: 20px; }

/*----------------------------------
----------------Footer--------------
------------------------------------*/
.footer-buttons {
  margin: 10px -15px;
  background: black; }
  .footer-buttons .btn-link {
    color: white; }

.footer {
  padding-bottom: 30px; }
  .footer .logo-container a {
    display: block; }
  .footer .links-container {
    width: 100%;
    display: flex;
    align-items: flex-start; }
    .footer .links-container a {
      width: 46%;
      margin: 0 2%;
      border-bottom: 1px solid lightgray; }
  .footer .right-section .title {
    border-bottom: 1px solid lightgray;
    width: 100%;
    text-align: left;
    display: flex;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between; }
    .footer .right-section .title a {
      padding-right: 0;
      font-size: 12px; }
  .footer .right-section form {
    padding: 15px; }
    .footer .right-section form .checkbox-inline {
      font-size: 12px;
      margin: 30px 0;
      width: 100%; }
      .footer .right-section form .checkbox-inline input {
        margin-top: 2px; }
  .footer img {
    max-width: 11vw;
    margin-bottom: 15px; }

/*----------------------------------
--------------Media Query-----------
------------------------------------*/
@media screen and (min-width: 992px) {
  .modal-content .modal-body .menu a {
    margin: 15px 10px; }
  .modal-content .modal-body .links-container {
    display: flex; }

  .horizontal-item {
    display: flex;
    align-items: center; }

  .videos-section > div:last-child {
    height: 31.5vw;
    overflow: auto; }

  .footer .left-section {
    display: flex; }
  .footer .links-container a {
    text-align: left; } }
@media screen and (max-width: 991px) {
  .modal-content .modal-body .menu a {
    margin-bottom: 15px; }

  .footer .logo-container {
    display: flex; }
    .footer .logo-container a {
      width: 50%; }
  .footer img {
    min-width: 150px;
    margin: 0 auto 15px; }
  .footer .right-section .title {
    padding-top: 30px; } }

/*# sourceMappingURL=style.css.map */
