/*----------------------------------
----------------Content Menu--------------
------------------------------------*/
.category-menu {
    margin: 0;

    .menu-title {
        font-size: 20px;
        padding: 15px 0;
        display: block;
        margin: 0;
        color: $heading-color;
    }
    .menus-container {
        border-radius: 15px;
        overflow: hidden;
        margin-bottom: 15px;
    }
    .menu-items {
        padding: 0;
        list-style: none;
        margin: 0;

        & > li {
            & > a {
              display: block;
              padding: 10px 20px 10px 45px;
              border-top: 1px solid gray;
              border-bottom: 1px solid gray;
              margin-top: -1px;
              position: relative;
              color: white;
              background: $main-menu-items;
            }
        }
    }
    .closed, .open {
        &:before {
          position: absolute;
          background: transparent;
          color: white;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          display: flex;
          font-weight: 600;
          justify-content: center;
          align-items: center;
          top: 10px;
          left: 18px;
          border: 1px solid white;
        }
    }
    .closed {
        &:before {
            content: "+";
        }
        & + .sub-menu {
            max-height: 0;
            transition: max-height 0.5s ease-out;
            overflow: hidden;
        }
    }
    .open {
        &:before {
            content: "-";
        }
        & + .sub-menu {
            max-height: 3000px;
            transition: max-height 3.5s ease-out;
        }
    }
    .sub-menu {
        margin: 0;
        padding: 0;
        list-style: none;
        background: rgba($main-menu-items, 0.2);

        .sub-menu {
            li {
                padding: 0 0 0 30px;
            }
        }

        a {
            display: block;
            padding: 10px 20px 10px 45px;
            border-bottom: 1px solid white;
            position: relative;
            color: $heading-color;
        }
    }
}
