/*----------------------------------
-----------Education-Trends---------
------------------------------------*/
.education-trends {
    margin-top: 15px;

    h1 {
        text-align: center;
    }
    .trend-body {
        background: white;

        &:not(:last-child) a {
            border-bottom: 1px solid lightgray;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 10px 0;

            &:hover {
                text-decoration: none;
            }

            label {
                display: block;
                line-height: 100%;
            }
            .badge {
                min-height: 40px;
                min-width: 40px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 19px;
                margin-right: 15px;
                border: 2px solid black;
            }
            .title {
               font-size: 20px;
               margin-bottom: 10px;
            }
            .subtitle {
               font-size: 15px;
               color: gray;
               margin-bottom: 0;
            }
         }
    }
}
