/* vietnamese */
@font-face {
  font-family: 'Nunito-ExtraLight';
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/Nunito/Nunito-ExtraLight.ttf);
}
@font-face {
  font-family: 'Nunito-Light';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Nunito/Nunito-Light.ttf);
}
@font-face {
  font-family: 'Comfortaa-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Comfortaa/Comfortaa-Regular.ttf);
}
@font-face {
  font-family: 'Comfortaa-Bold';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Comfortaa/Comfortaa-Bold.ttf);
}
