/*----------------------------------
----------------Footer--------------
------------------------------------*/
  .footer-buttons {
      margin: 0;
      background: $social-bar-bg;

      .btn-link {
          color: white;
          position: relative;
          padding-left: 45px;
          font-family: 'Comfortaa-Regular';

          &:hover {
              color: $heading-color;
          }
          &:before {
              content: "";
              position: absolute;
              background-image: url('#{$images-path}img_spritesheet.png');
              top: 0;
              left: 0;
              width: 42px;
              height: 42px;
          }
          &.first-button {
              &:before {
                  background-position: -121px -353px;
                  @include transition-properties(all 0.3s ease);
              }
              &:hover {
                  &:before {
                    background-position: -121px -303px;
                  }
              }
          }
          &.second-button {
            &:before {
                background-position: -163px -353px;
                @include transition-properties(all 0.3s ease);
            }
            &:hover {
                &:before {
                  background-position: -163px -303px;
                }
            }
          }
          &.third-button {
              &:before {
                  background-position: -204px -353px;
                  @include transition-properties(all 0.3s ease);
              }
              &:hover {
                  &:before {
                    background-position: -204px -303px;
                  }
              }
          }
      }
      .button-container {
          text-align: center;
      }
  }
  .footer {
      padding-bottom: 30px;
      background: $footer-bg;
      margin: 0;

      .logo-container {
          display: flex;
          align-items: center;
          padding: 15px;

          .vertical-separator {
              border-left: 1px solid lightgray;
              padding: 25px 0;
              color: transparent;
          }

          a {
              display: flex;
              justify-content: center;
              align-items: center;
          }
      }
      .info-container {
          color: white;
          padding: 15px;
          font-family: 'Nunito-Light';
          font-size: 16px;

          .glyphicon {
              margin-right: 10px;
          }
          .headquarter {
            font-family: 'Nunito-ExtraLight';
            font-size: 14px;
            margin: -5px 0 15px;
            display: block;
          }
      }
      .right-section {          
          form {
              padding: 15px;
              color: white;

              .checkbox-inline {
                  font-size: 12px;
                  margin: 30px 0;
                  width: 100%;

                  input {
                      margin-top: 2px;
                  }
              }
              .glyphicon {
                  color: $heading-color;
                  font-size: 16px;
              }

              .footer-form {
                  p, label {
                      font-family: 'Nunito-ExtraLight';
                      font-size: 16px;
                      line-height: 115%;
                  }
                  p b {
                      font-family: 'Comfortaa-Bold';
                  }
                  .nf-before-form-content {
                      margin: 0 !important;
                  }
                  .nf-error-msg, .ninja-forms-req-symbol {
                      color: $social-bar-bg !important;
                  }
                  .nf-error .ninja-forms-field {
                      border: 1px solid $social-bar-bg;
                  }
                  .checkbox-inline {
                      margin: 0 !important;
                      padding: 0;
                  }
                  .nf-form-cont .nf-form-layout .nf-before-form-content {
                      margin-bottom: 0 !important;
                  }
                  .firstname-container, .email-container {
                      width: 100%;

                      .firstname-wrap, .email-wrap {
                          flex-wrap: nowrap !important;
                          border-radius: 4px;
                          overflow: hidden;
                      }
                      .nf-field-label {
                          display:none;
                      }
                      .nf-field-description {
                          width: auto;
                      }
                  }
                  .checkbox-container {
                      .checkbox-wrap {
                          flex-wrap: nowrap !important;
                      }
                      .nf-field-label {
                          width: 100%;

                          label {
                              font-weight: 400;
                              font-size: 14px;
                          }
                      }
                      .nf-field-element {
                          width: auto;
                          margin: 3px 5px 0 0;
                      }
                  }
              }
          }
      }
      img {
          max-width: 11vw;
      }
  }
