/*----------------------------------
----------------General--------------
------------------------------------*/
* {
 box-sizing: border-box;
}
html {
 font-size: calc(4px + 0.45vw);
}
body {
 font-family: 'Montserrat', sans-serif;
 color: #000;
 background: $main-bg url('#{$images-path}img_main_bg.png');
}
a {
 text-decoration: none;
 color: #000;
}
*:focus {
  outline: 0;
}
.modal-backdrop.in {
    opacity: 0.9;
}
.home-header + .container {
    background: white;
    @include box-shadow-properties(0px 0px 11px 3px rgba(0, 0, 0, 0.15));
}
.title-section {
    font-size: 29px;
    color: $heading-color;
    padding: 20px 15px 20px 70px;
    margin: 0;
    font-weight: 700;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 12px;
        left: 8px;
        width: 50px;
        height: 50px;
        background-image: url('#{$images-path}img_spritesheet.png');
    }
}
.breadcrumb {
    margin: 10px 0;
    padding: 8px 0 20px;
    display: block;
    background-color: transparent;
    font-size: 15px;
    border-bottom: 1px solid lightgray;
    border-radius: 0;

    &, a {
        color: $heading-color;
    }

    a {
        display: inline-block;
    }

    .home-link {
        color: $social-bar-bg;
    }
}
h2 {
    font-size: 26px;
    color: $heading-color;
}
.article-content {
    .banner {
        height: 24vw;
        overflow: hidden;
        display: flex;
        align-items: center;
        position: relative;

        img {
            width: 100%;
            height: auto;
        }
        label {
            color: white;
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            margin: 10px auto auto;
            font-size: 24px;
            background: rgba(black, 0.65);
            padding: 1vw;
            font-weight: 400;
            font-variant: small-caps;
            line-height: 100%;
        }
    }

    .gallery-images {
        padding: 15px 0;
        text-align: center;

        .btn {
            margin-bottom: 15px;
            background: transparent;
            border-color: lightgray;

            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }

        .thumbnail {
            margin: 0;
        }
        .title {
            margin: 5px 0 0;
            display: block;
            text-align: center;
            white-space: normal;
            color: gray;
        }
        .modal {
            .image-container {
                margin-bottom: 20px;

                img {
                    margin: auto;
                }
            }
        }
    }
}
.nf-form-cont {
    .nf-form-title {
        display: none;
    }
    .nf-form-layout {
        .nf-before-form-content {
            margin-bottom: 35px;
        }
    }
}
.alm-load-more-btn, .btn-site {
    background-color: $social-bar-bg;
    display: inline-block !important;
    color: white !important;
    line-height: 1.42857143 !important;
    font-weight: 400 !important;
    border: none;

    &.done {
        display: none !important;
    }
    &:hover {
        background-color: $see-more-hover;
    }
}
