/*----------------------------------
----------------Header--------------
------------------------------------*/
%header-button {
    background-color: transparent !important;
    background-image: url('#{$images-path}img_spritesheet.png');
    color: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    font-size: 25px;
    font-weight: 600;
}
.home-header {
    background: rgba(black, 0.65);
    
    .slider{

        &.closed {
            position: absolute;
            opacity: 0;
            bottom: -100%;
        }
        &.open {
            transition: all 1s ease-out;
            opacity: 1;
        }
    }
    .gitei-logo, .gitei-logo-dark {
        max-width: 15vw;
        min-width: 180px;
    }
    .btn-menu {
        @extend %header-button;
        background-position: 0 0;

        &:hover {
            background-position: -69px 0;
        }
        &:active {
            background-position: -138px 0;
        }
    }
    .logo-container {
       	display: flex;
       	justify-content: space-between;
        align-items: center;
       	padding: 0 10%;
        margin: 10px 0;
    }
    .header-links {
         display: flex;
         align-items: center;
         justify-content: center;
         padding: 5px 0px;
         background: rgba(black, 0.65);

         .links-container .nav {
             display: flex;
             justify-content: center;
             border: none;
             padding: 5px 0;

             li {
                position: relative;

                &:not(:last-child) {
                    &:before {
                        content: "";
                        position: absolute;
                        border-left: 1px solid white;
                        height: 100%;
                        right: 0;
                    }
                }
             }
             a {
                color: white;
                background: transparent;
                font-size: 15px;
                padding: 5px 15px;
                text-align: center;

                &:hover {
                    background: rgba(white, 0.05);
                    border: none !important;
                }
             }
             .selected {
                color: $header-link-selected;
                font-weight: 600;
             }
         }
         .vertical-separator {
             border-left: 1px solid gray;
         }
    }
    .social-bar {
      text-align: center;
      padding: 12px 0;
      background: $social-bar-bg;
      display: flex;
      justify-content: center;
      align-items: center;

      .fa {
        position: relative;
        padding: 6px 0;
        font-size: 20px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        color: $social-bar-bg;
        height: 30px;
        border-radius: 5px;
        background: white;
        margin: 0 10px;
        overflow: hidden;
        @include transition-properties(all 0.3s ease);

        &::before {
          position: absolute;
          z-index: 1;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
        }
        &::after {
          content: "";
          position: absolute;
          z-index: 0;
          width: 100%;
          height: 0;
          top: 0;
          left: 0;
          @include transition-properties(all 0.3s ease);
        }
        &:hover::after {
          height: 100%;
        }
        &:hover {
          color: white;
        }
      }
      .fa-facebook::after {
        background: #3B5998;
      }
      .fa-twitter::after {
        background: #55ACEE;
      }
      .fa-linkedin::after {
        background: #007bb5;
      }
    }
    .modal-lg {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .modal-content {
      background-color: transparent;
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none;

      .close {
         @extend %header-button;
         font-size: 40px;
         opacity: 0.9;
         text-shadow: none;
         background-position: 0 -64px;

         &:hover {
             background-position: -69px -64px;
         }
         &:active {
             background-position: -138px -64px;
         }
      }
      .modal-body {
         a, p {
            color: white;
            font-size: 15px;
         }
         a {
            &:hover {
                color: $social-bar-bg;
                font-weight: 700;
            }
         }
         #main-menu {
            margin: 0 0 20px 0;
            border-bottom: 1px solid white;
            padding: 0 15px 15px;

            li {
                display: inline-flex;
            }
         }
         .links-container {
            margin-top: 50px;
            padding: 0;

            li {
                padding: 6px 12px;
                display: flex;
                align-items: center;
                list-style: none;
                position: relative;
            }
         }
      }
      .form-control {
          height: 43px;
      }
      .glyphicon {
          font-size: 25px;
          color: $heading-color;
      }
   }
}
.content-header {
    .header-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1% 10%;

        .gitei-logo, .btn-menu {
            position: static;
            margin: 0;
        }
    }
}
