/*----------------------------------
--------------Home-Items------------
------------------------------------*/
.vertical-item {
    border: 1px solid lightgray;
    background: white;
    margin: 15px 0;
    border-radius: 15px;
    overflow: hidden;

    .thumb {
      margin: 20px 20px 0;
      border-radius: 10px;
      overflow: hidden;

       img {
         width: 100%;
         height: 100%;
       }
    }
    .item-text {
       padding: 20px;

       label, a {
          display: block;
          line-height: 100%;
          margin-bottom: 5px;
          font-weight: 700;
       }
       .title {
          font-size: 28px;
          color: $heading-color;
          padding: 15px 0;
          border-bottom: 1px solid lightgray;
          font-weight: 700;
       }
       h1.title {
          padding-top: 0;
          margin-top: 0;
       }
       .group {
          width: 50%;
          display: inline-block;
          margin: 0;
       }
       .date {
          font-weight: 400;
          color: gray;
          width: 49%;
          text-align: right;
          display: inline-block;
          float: right;
       }
       .subtitle {
          font-size: 20px;
          color: gray;
          margin-bottom: 20px;
       }
       .group {
          .post-categories {
              list-style: none;
              padding: 0;
              margin: 0;

              li {
                padding: 0;
                margin: 0;
              }

              a {
                color: $social-bar-bg;
                font-size: 15px;
              }
          }
       }
    }
}
.alm-load-more-btn {
    background-color: $social-bar-bg !important;

    &:hover {
        background-color: $see-more-hover !important;
    }
}
