/*----------------------------------
--------------Media Query-----------
------------------------------------*/
@media screen and (min-width: 1200px) {
    div.slider {
        .master-slider-parent {
            .master-slider {
                .ms-nav-next {
                    right: -15vw !important;
                }
                .ms-nav-prev {
                    left: -15vw !important;
                }
            }
        }
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    div.slider {
        .master-slider-parent {
            .master-slider {
                .ms-nav-next {
                    right: -7vw !important;
                }
                .ms-nav-prev {
                    left: -7vw !important;
                }
            }
        }
    }
}
@media screen and (min-width: 992px) {
  .home-header {
    .gitei-logo {
      position: absolute;
      left: 10%;
      top: 1vw;
      z-index: 1;
    }
    .btn-menu {
      position: absolute;
      right: 10%;
      top: 2.5vw;
      z-index: 1;
    }
  }
  .header-links {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .modal-content {
     .modal-body {
        #main-menu {
             li {
                 width: 33%;

                 a {
                   margin: 15px 10px 0;
                 }
             }
        }
        .links-container {
           display: flex;

           li:not(:last-child):after {
               content: "";
               border-left: 1px solid white;
               position: absolute;
               top: 0;
               height: 100%;
               right: 0;
             }
        }
     }
  }
  .horizontal-item {
      display: flex;
      align-items: stretch;
  }
  .home-articles {
      .home-article {
          &:nth-child(3n) {
              width: 100%;

              .vertical-item {
                  display: flex;
                  align-items: stretch;
                  direction: rtl;
              }
              .thumb {
                  width: 50%;
                  margin: 20px;

                  a {
                    display: flex;
                    justify-content: center;
                    height: 100%;
                    overflow: hidden;
                  }
                  img {
                    min-height: 100%;
                    width: auto;
                  }
              }
              .item-text {
                  width: 50%;
                  direction: ltr;
              }
          }
      }
  }
  .videos-section > div:last-child {
      height: 31.5vw;

      .video-widget {
          #video-gallery {
              & > div:first-child {
                width: 46vw;
                height: 26.5vw;
                float: left;
              }
              & > div:not(:first-child) {
                width: 14vw;
                height: 8.3vw;
              }
          }
      }
  }
}
@media screen and (max-width: 991px) {
  .home-header {
    .gitei-logo {
      margin: 2vh 0 2vh 10%;
      display: inline-flex;
    }
    .btn-menu {
      position: absolute;
      top: 3.5vh;
      right: 10%;
    }
  }
  .modal-content {
     .modal-body {
         #main-menu {
            li {
                width: 100%;

                &:not(:last-child) a {
                  margin-bottom: 15px;
                }
            }
         }
     }
  }
  .footer {
      .logo-container {
          a {
             width: 50%;
          }
      }
      img {
          min-width: 110px;
          margin: 0 auto 15px;
      }
      .right-section {
          .title {
              padding-top: 30px;
          }
      }
  }
}
@media screen and (min-width: 768px) {
  .social-bar {
      .whatsapp {
          display: none;
      }
  }
  .videos-section {
      h1 {
          display: flex;
      }
  }
  .flip-slider {
      div.slider {
        .master-slider-parent {
            .ms-slide-info {
                bottom: 25%;
                width: 80%;
                left: 10%;
            }
        }
      }
   }
}
@media screen and (max-width: 767px) {
    .videos-section {
        .title {
            display: block;
            float: left;
            margin-top: 15px;
        }
    }
    .flip-slider {
        div.slider {
          .master-slider-parent {
              .ms-slide-info {
                  top: 0;
                  width: 64%;
                  left: 15%;
              }
          }
        }
     }
}
