/**
 * Mixins
 * --------------------------------------------------
 */
@mixin transition-properties($values) {
    -webkit-transition: $values;
    -moz-transition: $values;
    -ms-transition: $values;
    -o-transition: $values;
    transition: $values;
}

@mixin border-radius-properties($value) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    -ms-border-radius: $value;
    border-radius: $value;
}

@mixin box-shadow-properties($value) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}

@mixin background-button-properties($color) {
    background: rgba($color,1);
    background: -moz-linear-gradient(left, rgba($color,1) 20px, rgba($color,0) 20px);
    background: -webkit-gradient(left top, right top, color-stop(20%, rgba($color,1)), color-stop(20%, rgba($color,0)));
    background: -webkit-linear-gradient(left, rgba($color,1) 20px, rgba($color,0) 20px);
    background: -o-linear-gradient(left, rgba($color,1) 20px, rgba($color,0) 20px);
    background: -ms-linear-gradient(left, rgba($color,1) 20px, rgba($color,0) 20px);
    background: linear-gradient(to right, rgba($color,1) 20px, rgba($color,0) 20px);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color}', endColorstr='#{$color}', GradientType=1 );
}
