/*----------------------------------
----------------Slider--------------
------------------------------------*/
.flip-slider {
 	position: relative;
 	width: 100%;
 	overflow: hidden;

  .slider {
      height: 41.5vw;
      width: 100%;
      margin-bottom: -8px;
  }
  div.slider {
      padding: 0 15px;

      .master-slider-parent {
          .master-slider {
              position: relative;

              .ms-view, .ms-slide{
                  height: 31vw !important;
              }
              .ms-slide-info {
                  position: absolute !important;
                  border-radius: 15px;
                  background-color: rgba(0,0,0,0.65);
                  padding: 15px;
                  min-height: 40px !important;
                  display: flex;
                  align-items: center;

                  .ms-info {
                    width: 100%;
                    text-align: center;
                    color: white;
                  }
              }
          }
      }

      .ms-slide-bgcont:before {
          background: url('#{$images-path}img_banner_bg.png') no-repeat center / cover;
          content: "";
          position: absolute;
          top: -1%;
          left: -1%;
          width: 102%;
          height: 102%;
      }
  }
}
