/*----------------------------------
----------------Slider--------------
------------------------------------*/
.flip-slider {
 	position: relative;
 	width: 100%;
 	overflow: hidden;

  .slider {
      height: 41.5vw;
      width: 100%;
      margin-bottom: -8px;
  }
  div.slider {
      padding: 0 15px;
  }
}
