/*----------------------------------
---------------Variables------------
------------------------------------*/
$site-name: site-bienestar-laboral;
$site-slider: bienestar_laboral_home_slider;
$path-site: edu-buscandocarrera;
$images-path: "../img/"; // Colors
// -------------------------------
$main-bg: #fff !default;
$heading-color: #1f2c53 !default;
$social-bar-bg: #00c5ff !default;
$see-more-hover: #3284BC !default;
$header-link-selected: #ff6c47 !default;
$section-title-bg: $social-bar-bg !default;
$footer-bg: $heading-color !default;
$main-menu-items: #804AA0 !default;
$head-table-bg: #5f4db8;
$body-table-bg: $heading-color;
$tabs-hover-bg: #c3edec;
$strong-gray: #2f2f2f;
$black: #000; //Measures
$lightgray: #d3d3d3; // -------------------------------
$main-header-height: 132px;