/*----------------------------------
---------------Variables------------
------------------------------------*/

$site-name:                        site-bienestar-laboral;
$site-slider:                      bienestar_laboral_home_slider;
$path-site:                        edu-buscandocarrera;
$images-path:                      "../img/";

 // Colors
 // -------------------------------
$main-bg:                               #f7f7f7 !default;
$heading-color:                         #322e6d !default;
$social-bar-bg:                         #00c0c9 !default;
$see-more-hover:                        #3284BC !default;
$header-link-selected:                  #ff8361 !default;
$section-title-bg:                      $social-bar-bg !default;
$footer-bg:                             $heading-color !default;
$main-menu-items:                       #804AA0 !default;
//Measures
// -------------------------------
$main-header-height:              132px;
