/*----------------------------------
---------------Variables------------
------------------------------------*/

$site-name:                        site-bienestar-laboral;
$site-slider:                      bienestar_laboral_home_slider;
$path-site:                        edu-buscandocarrera;
$images-path:                      "../img/";

 // Colors
 // -------------------------------
$main-bg:                               #eee !default;
$social-bar-bg:                         #666 !default;
$section-title-bg:                      $social-bar-bg !default;
//Measures
// -------------------------------
$main-header-height:              132px;
