/*----------------------------------
------------Videos-Section----------
------------------------------------*/
.videos-section {
    border-top: 1px solid lightgray;
    margin: 15px 0;

    .title-section {
        &:before {
            background-position: -65px -300px;
        }
    }

    h1 {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
          font-size: 12px;
          border: 1px solid lightgray;
          padding: 10px;
          border-radius: 5px;
          color: gray;
      }
    }
    .video-widget {
        #video-gallery {
            padding: 2% 4%;

            & > div {
                margin: 1% 1% 0;
            }
            .zTitfHov2 {
                background-color: rgba(#00acb9, 0.4) !important;
            }
            .TotalsofthPIcon1 {
                color: #00acb9 !important;
            }
        }
        .pagination {
            display: none !important;
        }
    }
}
